h1 {
  font-size: 18px;
}

h2 {
  font-size: 15px;
}

h2,h3,h4 {
  clear: both
}

.left {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.right {
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
}
