h2,h3,h4 {
  clear: both
}

.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

span.page {
 display: none; 
}
